<!-- {% extends "home.html" %}
{% block bloco_resultado %}
    <ul>
        {% for item in resultado %}

            {% for i in item %}
                <li> <b>{{ loop.index }} - {{ i[0] }}:</b>  {{ i[1] }}</li>
            {% endfor %}

            {% if loop.last == false %}
                <p> ---------------- </p>   
            {% else %}
                <p> ####################################### </p>  
            {% endif %}
            
        {% endfor %}
    </ul>
{% endblock %} -->